.notre-différence {
  display: flex;
  justify-content: center;
  align-items: center;
}

.difference-section {
  margin-bottom: 5%;
  z-index: 10;
  background-color: #ffffff;
}

.notre-différence-text {
  color: #c94b32;
  font-size: 25px;
  font-weight: 700;
  z-index: 3;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.diff-heading {
  font-size: 20px;
  color: #ff8200;
  font-family: Insignia;
}

.diff-text1 {
  font-size: 15px;
  color: #1b2b41;
}
.img {
  display: flex;
  justify-content: center;
}

.devenir-lomads-button {
  width: 147px;
  height: 38px;
  background-color: #ff8200;
  color: #ffffff;
  border-radius: 10px;
  border: #ff8200;
  font: Insignia, Roman;
}

.diff-sec-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .column {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .text-center {
    text-align: center;
  }

  .margin-y {
    margin: 40px 0px;
  }
}
